on init
    chown root system /proc/touchscreen/disable_keys
    chmod 0664 /proc/touchscreen/disable_keys
    restorecon /proc/touchscreen/disable_keys

service vendor.touch-hal-aries /vendor/bin/hw/vendor.lineage.touch-service.aries
    class hal
    user system
    group system
